@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /*Telas maiores*/
    .container{
        width: 100%;
    }

    .container_link{
        font-size: 21px;
    }

    .container_link:hover{
        font-size: 21px;
    }

    .container_main{
        max-width: 100%;
    }
    
    .main_conteudo{
        width: 650px;
    }

    .conteudo_h1{
        font-size: 30px;
        width: 650px;
    }

    .conteudo_p{
        width: 650px;
    }
    
    .link_h2{
        font-size: 24px;
    }

    .container_rodape{
        height: 30px;
    }
} 

@media screen and (min-width: 992px) { /*pc*/
    .img_dev{
        display: inline;
    }

    .container{
        max-width: 100%;
    }
    
    .container_link{
        font-size: 21px;

    }

    .container_link:hover{
        font-size: 21px;
    }

    .container_main{
        max-width: 100%;
    }
    
    .main_conteudo{
        width: 655px;
    }

    .conteudo_h1{
        font-size: 30px;
        width: 655px;
    }

    .conteudo_p{
        width: 655px;
    }
    
    .link_h2{
        font-size: 25px;
    }

    .container_rodape{
        height: 30px;
    }
}