@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /*Telas maiores*/
    .cabecalho{
        width: 100%;
    }

    .cabecalho__menu__link{
        font-size: 21px;
    }

    .cabecalho__menu__link:hover{
        font-size: 21px;
    }

    .apresentacao{
        max-width: 100%;
    }

    .apresentacao__conteudo__titulo{
        font-size: 30px;
        width: 650px;
    }

    .apresentacao__conteudo{
        width: 650px;
    }

    .apresentacao__conteudo__paragrafo{
        width: 650px;
    }

    .rodape{
        height: 30px;
    }

    .link__subtitulo{
        font-size: 24px;
    }
} 

@media screen and (min-width: 992px) { /*pc*/
    .img_dev{
        display: inline;
    }

    .cabecalho{
        max-width: 100%;
    }
    
    .cabecalho__menu__link{
        font-size: 21px;

    }

    .cabecalho__menu__link:hover{
        font-size: 21px;
    }

    .apresentacao{
        max-width: 100%;
    }

    .apresentacao__conteudo__titulo{
        font-size: 30px;
        width: 655px;
    }

    .apresentacao__conteudo{
        width: 655px;
    }

    .apresentacao__conteudo__paragrafo{
        width: 655px;
    }

    .rodape{
        height: 30px;
    }

    .link__subtitulo{
        font-size: 25px;
    }
}